@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Merriweather:wght@300&display=swap');

    body {
      font-family: merriweather;
      margin: 1rem;
      font-size: 1rem;
      vertical-align: top; /* Ensure content aligns to the top */
    }

 li {
    cursor: pointer;
    margin-bottom:1.5em;
  }

  li.crossed {
    text-decoration: line-through;
    color: #999; /* Change the color as needed */
  }

  .correct {
    background-color: #00DFA2;
    color: white;
  }

  .incorrect {
    background-color: #FF0060;
    color: white;
  }

  button {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  padding: 0.8rem;
  height: 100%;
    min-width: 5em;
    margin:7px;
  justify-content: center;
  overflow-wrap: break-word;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
