.taskC{
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
grid-gap: 10px; /* Spacing between grid items */
margin-left: 10vw;
margin-right: 10vw;
display: grid;
grid-template-columns: 50% 50%;
grid-gap: 10px; 
background-color: white
}
h2{
  grid-column: 1 / 3
}
.sum{
  background-color: #F8DE22; 
  grid-column: 1 / 3; 
  padding-left: 5vw; 
  padding-right: 5vw; 
  padding-bottom: 4vw;
  font-size:1.2rem; 
}
.var {padding:1rem; 
      font-size:1.2rem; 
      background-color: #F8FF95>
     }
.highlight {background-color: #A7D397
    }
    table {
  grid-column: 1 / 3;
	width:80%;
  margin-left:auto;
  margin-right:auto;
  border:collapse;
}
    td{
      background-color:#3C486B;
      color: white;
      padding:1rem;
      font-family: merriweather;
      font-size:1.2rem;
      font-weight: 500;
    }
    .td{
      background-color: #F0F0F0;
      color: black;
      
    }
    select{float:right}

ol, ul{font-size:1.1rem;}
li{background-color:#FFB6D9; padding: 0.5rem}
input{font-size:1.2rem; font-family: merriweather}

.new-message-box {
    margin: 15px 0;
    padding-left: 20px;
    margin-bottom: 25px!important;
}

p{
    font-size: 1.2rem;
    font-weight: 300;
}

.info-tab {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 8px;
    float: left;
    margin-left: -23px;
}

.info-tab i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    bottom: -18px;
}

.info-tab i::before, .info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
}

.note-box, .warning-box, .tip-box-success, .tip-box-danger, .tip-box-warning, .tip-box-info, .tip-box-alert {
    padding: 12px 8px 3px 26px;
}

/*******warning*******/
.new-message-box-warning {
    background: #F8FF95;
    padding: 3px;
    margin: 1rem 4rem;
  
}

.tip-icon-warning {
    background: #FFEB3B;//500
}

.tip-box-warning {
    color: #212121;//900
    background: #FFF9C4;//100
}

.tip-icon-warning::before {
    font-size: 25px;
    content:"\f071";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: #212121;
}

.tip-icon-warning i::before {
    background: #FFEB3B;//500
}

/*******info*******/
.new-message-box-info {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-box-info {
    color: #01579B;//900
    background: #B3E5FC;//100
}

.tip-icon-info {
    background: #03A9F4;//500
}

.tip-icon-info::before {
    font-size: 25px;
    content:"\f129";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white
}

.tip-icon-info i::before {
    background: #03A9F4;//500
}


