@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Merriweather:wght@300&display=swap');
      

       .grid-container {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-gap: 10px; /* Spacing between grid items */
            margin: 10vw;
	    margin-top: 0;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 10px; 
            background-color: white
        }

        .left-side {
            background-color: white;
            margin:auto; 
            border-radius: 15px; 
            background-color: white;
            font-family:merriweather; 
            line-height:1.5;
            font-size:20px;
            color:black;
             padding: 2rem
        }

        .right-side {
            background-color: oldlace;
      }
      
      .head-img {width: 100%; 
        height: 75vh; 
        object-fit: cover;
        object-position: 50% 50%;
        -webkit-filter: contrast(130%);
        z-index:-1
      }
      @media (max-width: 700px) {
            .grid-container {
             grid-template-columns: 1fr;
            }
        .note-container {
          position: absolute; 
          width: 100%;}
        .note {
          position: absolute; 
          width: 100%;}
        }

      table {
               width:100%;
               border-collapse: separate; 
               text-align: start; 
               font-family: garamond; 
               font-size: 1.2rem; 
               line-height: normal;
               color: #292929;
               font-family: 'Cormorant Garamond', serif;
               font-family: 'Merriweather', serif;
               text-align:top;
               border-spacing: 1rem 1rem;
      }
      
      tr {
        margin-bottom: 5vh
      }
      td {
        padding-left: 10px;
          vertical-align:top
      }
      th {
        vertical-align:top;
          text-align: left
      }
      mark {        
        background-color: yellow; font-weight:bold; padding:0.15rem; border:1px solid silver; border-radius: 15px
      }
      
      .task {
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
      
.note-container {
  z-index:1;
  padding: left; 
  position: absolute; 
  bottom: 25%; 
  left: 10%;
}
 
.note {
  color: #333;
  position: relative;
  width: 20vw;;
  margin: 0 auto;
  padding: 20px;
  font-family: merriweather;
  font-size: 1.2rem;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

	.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1), inset 3px 3px 3px hsla(0,0%,100%,.2), inset -3px -3px 3px hsla(0,0%,0%,.2), 23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: ''; 

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
 
  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
 
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}
      
      .highlight {background-color: #A7D397}
      .hello-span {
        display: none;
        float: right;
  }
.article1 {
	font-size:1.5rem; 
	font-family: merryweather; 
	padding:2rem; 
	text-align: justify; 
	line-height: 1.2;}
