body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center; 
            background-color: #D32F2F;
            display: flex;
             align-items: center;
        }

.hd {
          margin-top: 1px;
          text-align: center;
          color: black;
          padding: 5px;
          font-size: 1rem;
          border-bottom: 1px solid black
        }


.container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0px;
              max-width: 90vw;
            padding:0px;
        }

.task {
                  text-align: left; 
                  padding: 15px; 
                  font-style: merriweather; 
                  font-size: 2.2vh; 
      }

.cont {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            margin: 2vh;
              max-width: 90vw;
              gap: 10px;
}

.left-block{
  flex:1;
  height: 90vh;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: oldlace;
  border: 1px solid black;
}

.right-block {
  flex:1;
  height: 90vh;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 8px;
  margin-bottom: 5px;
  background-color: oldlace;
  border: 1px solid black;
}

      .sampleA {
        background-color: #A0D7D9;
        text-align: left;
        color: black;
        padding: 10px;
        width: 40%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
      }
      .sampleEx {
        background-color: #A0D7D9;
        margin-top: 5px;
        text-align: left;
        color: black;
        padding: 10px;
        width: 100%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;}
      
      .title {
        font-size: 100%;
        color: black;
        background-color: yellow;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        margin-bottom: 3px
             }
      
        


        /* Media query for screens 600px and smaller */
        @media (max-width: 700px) {
          .body{
            height:100%
          }
          
            .container {
                flex-direction: column;
            }

            .left-block {
                width: 90%;
                height: 100%;
                display: block;
            }

            .right-block {
                width: 90%;
              height: 100%
            }
          .sampleA {
                width: 90%;
                height: 100%;
                display: block;}
        }
      .pic {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 100%;
        height: 100%;
         border-radius: 8px
 }
.hint {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 10px auto;
}

.mark {
    font-size: 10vh;
    color: #f00;
    margin-right: 20px; /* Adjust the margin as needed */
}

      }
        .highlight {
            font-family: 'Cormorant Garamond', serif;        
            font-weight: bold;
            color: black;
            cursor: pointer;
            padding: 4px;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: 8px;
        }

        .show-popup {
            display: block;
        }
