@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Bevan&Playfair+Display&family=Playfair+Display+SC&Playfair+Display+SC:wght@900&&family=Single+Day&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: #eeeeee;
  margin: 2em;
  font-family: "Roboto", sans-serif;
}
/* TOP */
header {
  text-align: center;
  margin: 0 auto 2em;
}

/*HEADERs*/
h1 {
  font-family: "Playfair Display", serif;
  line-height: normal;
  margin:0;
  padding:0;
  font-size: 30px;
  }
h3 {
  padding-left: calc(1.5rem + 16px);
  max-width: 1400px;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  grid-column:1/3;
  line-height: 1
}
h4 {
  font-family: "Playfair Display", serif;
  background-color: #6F61C0;
  color: white;
}

/*EXCERCISEs*/
.bg {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  /* height: 100vh; */
  width: 100%;
  box-shadow: 0 5px 15px hsla(0, 0, 50%, 0.5);
  margin: 1em auto;
}

.bg-left {
  background: white;
  padding: 0 3em 0;
  border-right: 1px solid silver;
}

.bg-right {
  background: white;
  padding: 0 3em 0;
}
 
.bunch{
   padding:1rem; 
   background-color: #FFF8C9;                   
   font-family: ; 
   text-align:justify;
   line-height:normal;
   margin-bottom: 1rem;
}
.outline{ 
   border-radius: 15px;
   padding: 1rem;
   border: 2px solid black; 
   background-color: #FFF8C9;
   font-family:merriweather; line-height:normal;
   color: black; 
   font-family: "Monotype Corsiva"; 
   font-style: italic
}

.hint{
  max-width: 700px;
   margin-top: 1rem;
  border-radius: 0 15% 0 10%;
   border: 5px solid red; 
   padding: 1rem;
   background-color: #ECEE81; 
   text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
  
      }
.tip{
  text-align:center; 
  background-color: red; 
  color: white
}
/*letter correction css */
    .editable {
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  color: black;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: red;
}

    .tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -100px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

/* Letter CSS */
.letter{
  background-color: #FFE7C1;
  text-align: justify;
  border-radius: 5px;   
  line-height:1.55;
  color: black; 
  font-family: 'Single Day', cursive; 
  font-style: italic;
  padding:1.3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input{
        border:0;
        border-bottom:1px solid black;
      }
th, td {padding:0.4em;
        background-color: #EBEF95;
}
img {
      display:block;
      max-width:100%;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius:15px
}
      table{
        width:100%
      }
      .choose{
        padding:0.2rem; 
        border:2px solid white; 
        font-weight: 800}

      ::marker {
  color: blue;
        font-weight:800
}

ol, ul {
  margin-top:0;
  padding-top:0;
}
      li{
        margin-bottom:0.5rem;
        flex: 15vw;
        word-wrap: normal
      }
      th{
        background-color: crimson; 
        color: white
      }

.var{
        padding:0.15rem;  
        border:2px solid black;
        border-radius: 15px;
        background-color: #FFF8C9;
        display:inline-block
      }
      label{
        font-weight: 600;
        
      }
      .highlight {
        background-color: #CDFAD5;
      }

       input{
        border:0;
        border-bottom:1px solid black;
      }
     
.wrd{
        background-color: crimson; color: white; float: right
}
.outer {
  margin: auto; 
  max-width: 700px;  
  min-height:80vh;
  font-family:merriweather; 
  line-height:normal;
  color:black;
  background-color:white;
  padding: 0 3em 0;
  box-shadow: 0 5px 15px hsla(0, 0, 50%, 0.5);
       }
