<!DOCTYPE html>
<html>
<head>
  <title>Online Education</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to Online Education</h1>
  <div id="register">
    <h2>Register</h2>
    <form action="/users/register" method="post">
      <input type="text" name="name" placeholder="Name" required><br>
      <input type="email" name="email" placeholder="Email" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <button type="submit">Register</button>
    </form>
  </div>
  <div id="login">
    <h2>Login</h2>
    <form action="/users/login" method="post">
      <input type="email" name="email" placeholder="Email" required><br>
      <input type="password" name="password" placeholder="Password" required><br>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
