<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div id="navbar">
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/users/profile">Profile</a>
  </div>
  <h1>Profile</h1>
  <div id="profileData">
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
  </div>
</body>
</html>
