@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

.navroot{
align-items: center;
border-bottom-color: rgba(0, 0, 0, 0.9);
border-bottom-style: solid;
border-bottom-width: 0px;
border-left-color: rgba(0, 0, 0, 0.9);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgba(0, 0, 0, 0.9);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgba(0, 0, 0, 0.9);
border-top-style: solid;
border-top-width: 0px;
box-sizing: border-box;
color: rgba(0, 0, 0, 0.9);
display: flex;
flex-direction: column;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
font-feature-settings: normal;
font-size: 16px;
font-weight: 400;
height: 56px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgba(0, 0, 0, 0.9);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
pointer-events: auto;
position: sticky;
tab-size: 4;
text-rendering: optimizelegibility;
text-size-adjust: 100%;
top: 0px;
transition-duration: 0.2s;
transition-property transform;
transition-timing-function cubic-bezier(0.4, 0, 0.2, 1);
unicode-bidi: isolate;
width: 100%;
z-index: 10;
-webkit-box-align: center;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-wire{
  background-attachment: scroll;
background-clip: border-box;
background-color: black;
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0.9);
border-bottom-style: solid;
border-bottom-width: 0px;
border-left-color: rgba(0, 0, 0, 0.9);
border-left-style: solid;
border-left-width :0px;
border-right-color: rgba(0, 0, 0, 0.9);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgba(0, 0, 0, 0.9);
border-top-style: solid;
border-top-width: 0px;
box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 0px 0px;
box-sizing: border-box;
color: rgba(0, 0, 0, 0.9);
display: flex;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
font-feature-settings: normal;
font-size: 16px;
font-weight: 400;
height: 56px;
isolation: isolate;
justify-content: center;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgba(0, 0, 0, 0.9);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
pointer-events: auto;
position: relative;
tab-size: 4;
text-rendering: optimizelegibility;
text-size-adjust: 100%;
transition-duration: 0.1s;
transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
unicode-bidi: isolate;
width: 100%;
-webkit-box-pack: center;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.desktop-nav-bar{
  align-items: center;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-feature-settings: normal;
    font-size: 16px;
    font-weight: 600;
    grid-column-end: lef;
    grid-column-start: lef;
    grid-row-end: lef;
    grid-row-start: lef;
    height: 56px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 24px;
    margin-top: 0px;
    min-width: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    tab-size: 4;
    text-overflow: ellipsis;
}
header{
  border-bottom-color: rgb(255, 255, 255);
border-bottom-style: solid;
border-bottom-width:0px;
border-left-color: rgb(255, 255, 255);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: solid;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
display: grid;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
font-feature-settings: normal;
font-size: 16px;
font-weight: 400;
grid-template-areas: "lef nav rig";
grid-template-columns: 204.363px 613.662px 204.375px;
height: 56px;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
pointer-events: auto;
position: relative;
tab-size: 4;
text-rendering: optimizelegibility;
text-size-adjust: 100%;
unicode-bidi: isolate;
width: 1022.4px;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.unified-nav{
   border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-feature-settings: normal;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 12px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    tab-size: 4;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    unicode-bidi: isolate;
    white-space-collapse: collapse;
    width: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
    background-color: transparent;
}
.logo{
  background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-feature-settings: normal;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-height: 24px;
    max-width: 188px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-y: clip;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    tab-size: 4;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    vertical-align: middle;
    white-space-collapse: collapse;
    width: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    background-color: transparent;
    max-height: 24px;
    max-width: 188px;
    object-fit: contain;
}
.company{
  white-space: nowrap;
   border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-feature-settings: liga;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    tab-size: 4;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    text-wrap: nowrap;
    white-space-collapse: collapse;
    width: 104.588px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.objectives{
  align-items: center;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    column-gap: 12px;
    display: flex;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-feature-settings: normal;
    font-size: 16px;
    font-weight: 400;
    grid-column-end: nav;
    grid-column-start: nav;
    grid-row-end: nav;
    grid-row-start: nav;
    height: 56px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 100%;
    min-height: 56px;
    min-width: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-x: auto;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    pointer-events: auto;
    row-gap: 12px;
    scrollbar-width: none;
    tab-size: 4;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 613.662px;
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navbut{
  align-items: center;
appearance: button;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto;
border-bottom-color: rgba(255, 255, 255, 0.8);
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-style: solid;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(255, 255, 255, 0.8);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgba(255, 255, 255, 0.8);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgba(255, 255, 255, 0.8);
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-top-style: solid;
border-top-width: 0px;
box-sizing: border-box;
color: rgba(255, 255, 255, 0.8);
cursor: pointer;
display: flex;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
font-feature-settings: normal;
font-kerning: auto;
font-optical-sizing: auto;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;
font-weight: 500;
height: 37px;
justify-content: center;
letter-spacing: normal;
line-height: 21px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
outline-color: rgba(255, 255, 255, 0.8);
outline-style: none;
outline-width: 0px;
padding-block-end: 8px;
padding-block-start: 8px;
padding-bottom: 8px;
padding-inline-end: 10px;
padding-inline-start: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 8px;
pointer-events: auto;
tab-size: 4;
text-align: left;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
text-wrap: nowrap;
transition-duration: 0.075s;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
white-space-collapse: collapse;
width: 103.662px;
word-spacing: 0px;
-webkit-box-align: center;
-webkit-box-pack: center;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-border-image: none
}
.piclog{
   align-items: center;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 500;
    height: 20px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    position: relative;
    tab-size: 4;
    text-align: left;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    text-wrap: nowrap;
    unicode-bidi: isolate;
    white-space-collapse: collapse;
    width: 20px;
    word-spacing: 0px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbut:hover{
  background-color: #C80036;
  transition-delay: 0,3s;
}
