@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

.navroot{
  display: flex !important;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    -webkit-box-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.nav-root::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: currentcolor;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}
.wire_cont{
    --container-bg-color: #000000;
    padding-bottom: 0px;
    margin-top: 0px;
    --text-size-base: 14px;
    background: rgb(209, 153, 0);
    box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 0px;
    position: relative;
    box-shadow: rgba(51, 51, 51, 0.08) 0px 1px 0px;
    isolation: isolate;
    margin-top: 16px;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: var(--container-bg-color);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
    --text-size-base: 16px;
}
.wire_cont2{
    --container-x-pad: 28px;
    width:100%;
    padding-left: var(--container-x-pad);
    padding-right: var(--container-x-pad);
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.nav-wire{
  padding:0px;
  margin-top:0px;
display: flex;
font-family: Wittgenstein, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
font-feature-settings: normal;
font-size: var(--text-size-base,1rem);
font-weight: 400;
background: #131842;
}
.desktop-nav-bar{
  padding:0px;
  margin-top:0px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "lef nav rig";
  width: 100%;
  position:relative;
  display: grid;
  overflow: hidden;
}
.desktop-nav-bar-lef{
    cursor: pointer;
    margin-right: 24px;
    display: flex;
    height: 56px;
    min-width: 0px;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--text-size-lg, 1.125rem);
    font-weight: 600;
    grid-area: lef;
}
.unified-nav{
   display: block;
    margin-right: 12px;
}
.logo{
    display: block;
    background-color: transparent;
    max-height: 28px;
    max-width: 188px;
    object-fit: contain;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
.company{
    font-size: var(--text-size-lg, 1.125rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white
}
.objectives{
    gap: 8px;
    display: flex;
    min-width: 0px;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    overflow-x: auto;
    padding-left: 2px;
    padding-right: 2px;
    min-height: 56px;
    width: fit-content;
    grid-area: nav;
    scrollbar-width: none;
}
.navbut{
font-weight: 500;
    color: var(--gv-text-contextual-pale);
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.5rem;
    padding: 8px 10px;
    text-align: left;
    font-size: var(--text-size-base, 1rem);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 75ms;
  background: none;
}
.piclog{
   position: relative;
    margin-right: 8px;
  --stroke-width: 1.5;
    width: 20px;
    height: 20px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.piclog::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: currentcolor;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}

.navbut:hover{
  background-color: #C80036;
  transition-delay: 0,3s;
}
.nav-bar-rig{
  height: 56px;
    display: flex;
    height: 48px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    justify-self: end;
    width: fit-content;
    grid-area: rig;
}
.navbut-prof{
    color: rgb(238, 139, 174);
    background-color: rgb(252, 232, 239);
    height: 28px;
    width: 28px;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-shadow: var(--gv-shadow-dark2);
    --tw-shadow-colored: var(--gv-shadow-dark2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    position: relative;
    margin-right: 4px;
    height: 34px;
    width: 34px;
    flex-shrink: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    cursor: pointer;
    border-radius: 9999px;
    font-size: var(--text-size-base, 1rem);
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.ppr{
    position: absolute;
    inset: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
    text-transform: capitalize;
    line-height: 1;
}
.ppr *, ::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: currentcolor;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}
