@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.root {
  padding: 0;
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Merriweather;
  overflow: hidden
}
.navbar {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  display: flex;
  gap: 0px;
  padding: 0.5rem 1.5rem; 
}
.nav-left {
  align-self: stretch;
  display: flex;
  gap: 2vw;
  align-items: center;
  font-size: 24px;
  color: var(--Schemes-On-Primary, #fff);
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: -0.48px;
  line-height: 120%;
}
.logo {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 35px;
}
.nav-title {
  font-family: Merriweather, sans-serif;
}
.nav-panel {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  flex: 1;
  padding: 0 2vw;
}

.nav-panel-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: white;
  font-size: 2.4vh;
  cursor: pointer;
  height:100%
  
}
.nav-panel-element:hover{
  background-color: rgb(299, 299, 299, 0.15);
  transform: scale(1.15);
  border-radius: 10px
}
.nav-panel-element:active{
  background-color: red
}

.nav-auth {
  justify-content: end;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-size: 2.5vh;
  font-weight: 500;
  line-height: 100%;
}
.nav-auth-sign {
  justify-content: center;
  border-radius: 8px;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1.9px;
  background-color: black;
  color: white;
  padding: 1vw;
}
.nav-auth-reg {
  justify-content: center;
  border-radius: 8px;
  border-color: rgba(24, 26, 32, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fcd535;
  color: #181a20;
  white-space: nowrap;
  padding: 1vw;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
