
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1em;
  background-color: #FFF5E0;
  margin: 0;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

      .main{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .element {
            width: 20vw;
            height: 19vw;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .element:hover {
            transform: scale(1.1);
        }
        
        .hidden {
            display: none;
        }

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      
        .passage {
            display: none; /* Hide all passages initially */
            padding: 20px;
            border: 1px solid #ccc;
          background-color:white
        }

        .passage.active {
            display: block; /* Show active passage */
        }

        .link {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
            margin-right: 10px;
        }
      .back-button {
        margin: 0 auto;
  height: 5vh;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.back-button:hover {
  background-color: #f7fafa;
}

.back-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
      
      .pic1{}
      
      .pic2{
        width:100%; 
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; border-radius: 8px; margin-right: 5px; 
        margin-right: 2vh;
        border-radius: 8px; 
        margin:0.4vh;
        
      }
      .det_course{
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 10px; 
        border: 1px solid silver; 
        -webkit-box-shadow: -5px 1px 18px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: -5px 1px 18px 4px rgba(0,0,0,0.75);
        box-shadow: -5px 1px 18px 4px rgba(0,0,0,0.75);
        margin-bottom: 5px; 
        line-height: 1.8; 
        background-color: oldlace; 
        color: black; 
        line-height: normal
      }



/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  color: white;
  background: url("https://www.dropbox.com/scl/fi/ai7b08j3tq2uyxlveuwcv/index_bg.png?rlkey=4cnk09l74lfp6t9p44wejc7s9&st=p9mubhrz&raw=1")  no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
  font-size:14px;
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
  .det2_course{
    border: 1px solid black; border-radius: 8px; padding:1em; background-color: #FFDB00
  }

  .icon(
  max-height: 24px;
max-width: 188px;
object-fit: contain;
  width:100%;
  margin:1rem;
  box-sizing: border-box;
  dispay: block;
  
}
.logo{
  margin-right: 25px;
}
  
